<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'Homepage.css' %}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body background="ba">
    <div class="login-form">
        <div class="container">
            <h1 class="top-label2">You are a?</h1>
            <div class="buttons">
                <button>School Admin</button>
                <button>School Staff</button>
                <button>Student Parent</button>
            </div>
        </div>
    </div>
</body>
</html>
