<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'StaffLoginPage.css' %}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login Page</title>
</head>
<body>
    <div class="login-form">
        <div class="container">
            <h1 class="top-label">You are the right place</h1>
            <div class="buttons">
                <button>Login</button>
                <button>Register</button>
                <button>Request Interview</button>
                <a href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</body>
</html>