<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'StudentRegister.css' %}">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Your Student</title>
</head>
<body>
    <form method="post" action="{% url 'Studentregisterlink' %}">
        {% csrf_token %}
        <div class="studentform">
            <h1>Student Registration Form</h1>
            <input type="text" id="firstname" name="firstname" placeholder="Enter Your First Name">
            <input type="text" id="lastname" name="lastname" placeholder="Enter Your Last Name">
            <input type="text" id="fathername" name="fathername" placeholder="Enter Your Father's Name">
            <input type="text" id="mothername" name="mothername" placeholder="Enter Your Mother's Name">
            <input type="text" id="parentmobile" name="parentmobile" placeholder="Parent's Mobile Number">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob">
            <label for="passportphoto">Choose a passport size photo</label>
            <input type="file" id="passportphoto" name="passportphoto">
            <label for="adharphoto">Upload Aadhar photo</label>
            <input type="file" id="adharphoto" name="adharphoto">
            <label for="school">Choose School</label>
            <select title="Choose School" name="school" id="school" style="width: 100px;">
                  {% for school in schoollist %}
                  <option value="{{school}}">{{school}}</option>
                  {% endfor %}
            </select>
            <input type="text" id="state" name="state" placeholder="Enter Your State">
            <input type="text" id="district" name="district" placeholder="Enter Your District">
            <input type="text" id="locality" name="locality" placeholder="Enter Your Locality">
            <input type="text" id="pincode" name="pincode" placeholder="Enter Your PINCODE">
            <button type="submit">Request Admission</button>
        </div>
    </form>
</body>
</html>